<%- include("./partials/header.ejs") %>


<h1>Welcome for Slavo3 Daily Journal</h1>
<p><%= homePageContent %></p>
<hr>
<div>

 <% posts.forEach(post => { %>

          <h2><%=  post.title %></h2>
          <p>
          <%= post.post.substring(0, 100) + " ...\"" %>
          <a href="/post/<%= post._id %>">Read More </a>
          </p>
          <hr>
          
<% })%>

</div>




<%- include("./partials/footer.ejs") %>