<%- include("./partials/header.ejs") %>


<div class="jumbotron">
  <h4 class="display-4"><%= homePageContent %></h4>
  <p class="lead">Problem-solving Software Developer is successful at creating a seamless user experience throughout the entire product line.</p>
  <hr class="my-4">
  <p>A highly focused developer is adept at streamlining complicated processes by incorporating minimalist design principles into the user experience.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </p>
</div>

 <% posts.forEach(post => { %>

          <h2><%=  post.title %></h2>
          <p>
          <%= post.post.substring(0, 100) + " ...\"" %>
          <a href="/post/<%= post._id %>">Read More </a>
          </p>
          <hr>
          
<% })%>

</div>




<%- include("./partials/footer.ejs") %>